<%- include('parts/header') %>
<main>
  <div id="about" class="about">
    <a target="blank" href="https://www.visakazakhstan.com/kazakhstan-cities/">Information about cities of Kazakhstan</a>
</div>
<div id="city1" class="city1">
    <h2>Almaty</h2>
    <p>Almaty formerly known as Alma-Ata and Verny, is the largest city in Kazakhstan, with a population of about 2,000,000 people, about 11% of the country's total population, and more than 2.7 million in its built-up area that encompasses Talgar, Boraldai, Otegen Batyr and many other suburbs. It served as capital of the Kazakh Soviet Socialist Republic and later independent Kazakhstan from 1929 to 1997.[6] In 1997, the government relocated the capital to Akmola (renamed Astana in 1998, later renamed Nur-Sultan in 2019) in the north of the country.

    Almaty is still the major commercial and cultural centre of Kazakhstan, as well as its most populous and most cosmopolitan city. The city is located in the mountainous area of southern Kazakhstan near the border with Kyrgyzstan in the foothills of the Trans-Ili Alatau at an elevation of 700–900 m (2,300–3,000 feet), where the Large and Small Almatinka rivers run into the plain.
      
    The city has been part of the UNESCO Creative Cities Network in the area of music since November 2017. </p>
      <a target="blank" href="https://www.tripadvisor.com/Attractions-g298251-Activities-Almaty.html">Thing to Do in Almaty</a>
    </div>
    <div id="city1.photo" class="city1.photo"></div>
    <img src="/public/images/city1.1.jpeg">
    <img src="/public/images/city1.2.jpeg">
    <img src="/public/images/city1.3.jpeg">
  </div>
  <div id="city2" class="city2"></div>
  <h2>Astana</h2>
  <p>Astana is the capital of Kazakhstan. It is located on the Ishim River in the north portion of Kazakhstan, within Akmola Region, though administrated separately from the region as the city with special status. The 2014 census reported a population of 835,153 within the city, making it the second-largest city in Kazakhstan (Almaty is the largest and former capital). The total area of Astana is 722 km2 (279 sq mi).

  Founded in 1830 as the settlement of Akmoly, it served as fortification of the Siberian Cossacks. In 1932, the settlement was granted a town status and renamed Akmolinsk. On 20 March 1961, the city was renamed to Tselinograd to mark the city's evolution a cultural and administrative center of the Virgin Lands Campaign. In 1992, it was renamed Akmola, the modified original name meaning "a white grave". On 10 December 1997, Akmola replaced Almaty to become the capital of Kazakhstan. On 6 May 1998, it was renamed Astana, which means "the capital" in Kazakh.</p>
  <a target="blank" href="https://www.tripadvisor.com/Attractions-g293944-Activities-Nur_Sultan_Akmola_Province.html">Thing to Do in in Astana</a> 
</div>
<div id="city1.photo" class="city1.photo"></div>
    <img src="/public/images/city2.1.jpeg">
    <img src="/public/images/city2.2.jpeg">
    <img src="/public/images/city2.6.jpeg">
</div>
</main>
<%- include('parts/footer'); %>