<div id="place4.photo" class="place4.photo">
  <img src="/public/images/ph1.jpeg">
  <img src="/public/images/ph2.jpeg">
  <img src="/public/images/ph3.jpeg">
  <img src="/public/images/ph4.jpeg">
  <img src="/public/images/ph5.jpeg">
  <img src="/public/images/ph6.jpeg">
  <img src="/public/images/ph7.jpeg">
  <img src="/public/images/ph8.jpeg">
  <img src="/public/images/ph9.jpeg">
</div>