<%- include('parts/header') %>
<main>
<div id="place" class="place">
    <a target="blank" href="https://kazakhstan.travel/publications/en/20/the-true-nature-of-kazakhstan-top-20-places">The best places to visit in Kazakhstan</a>
</div>
<div id="place1" class="place1">
    <h3>Charyn Canyon</h3>
    <p>
        Charyn Canyon is a canyon on the Sharyn River in Kazakhstan 120 mi east of Almaty. The canyon is roughly 56 mi in length. It is part of the Charyn National Park (established on 23 February 2004). Though it is much smaller than the Grand Canyon, it has been described as being equally impressive. Charyn canyon is a unique natural object with peculiar relief forms in the form of chapels, towers, animals, etc., which were formed under the influence of weathering of sedimentary rocks.
    </p>
</div>
<div id="place1.photo" class="place1.photo">
    <img src="/public/images/charyn.jpeg">
</div>
<div id="place2" class="place2">
    <h3>Bozjyra</h3>
    <p>
        Bozjyra is a magnificent creation of weathering and erosion, located on the territory of the Ustyurt Plateau. Here you can see vast clay deserts, limestone mountains, buttes more than 200 meters (650 ft) high. In the Mesozoic Era, this area was covered by the Tethys Ocean, so now here you can find a lot of fossilized shells and teeth of prehistoric sharks.
        Bozjyra is the must-see attraction of the Mangystau Province
    </p>
</div>
<div id="place2.photo" class="place2.photo">
    <img src="/public/images/bozjira.png">
</div>
<div id="place3" class="place3">
    <h3>Lake Kaindy</h3>
    <p>
        Lake Kaindy is located in the south of Kazakhstan, within Kolsay Lakes National Park. It is located 6,600 ft above sea level, 81 mi east of Almaty. The lake was formed as the result of a major limestone landslide triggered by the 1911 Kebin earthquake forming a natural dam. It blocked the gorge and was filled by mountain river water. Lake Kaindy is about 400 meters long, reaching depths of nearly 30 meters at its deepest point. Altered by limestone deposits, the water maintains a bluish-green color.
        The lake contains trunks of submerged Picea schrenkiana trees that rise above the surface of the lake. The area is often referred to as a "sunken forest". The cold water helps preserve the tree trunks, which are overgrown with algae and various other water plants
    </p>
</div>
<div id="place3.photo" class="place3.photo">
    <img src="/public/images/kaindy.png">
</div>
<a target="blank" href="/views/phtoto.ejs">Photo gallery</a>
</main>
<%- include('parts/footer'); %>